@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: aliceblue;
}

h1 {
    height: 80px; /* altura */
    width: 200px; /* largura */
    margin: 20px auto;

    text-align: center;

    background-color: rebeccapurple;
}

.block-level {
    background-color: skyblue;
}

#especial {
    background-color: rgb(25, 130, 172);
    color: white;

    padding: 20px 10px;
    margin: 10px 50px;

    border: 2px yellowgreen solid;
    outline: 2px red solid;
}